{% extends 'base.html.twig' %}

{% block title %}Hobbie{% endblock %}

{% block body %}
    <h1>Hobbie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hobbie.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ hobbie.designation }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ hobbie.createdAt ? hobbie.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ hobbie.updatedAt ? hobbie.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('hobbie_index') }}">back to list</a>

    <a href="{{ path('hobbie_edit', {'id': hobbie.id}) }}">edit</a>

    {{ include('hobbie/_delete_form.html.twig') }}
{% endblock %}
