{% extends 'base.html.twig' %}

{% block title %}Hello PersonneController!{% endblock %}

{% block body %}

    <div class="row">
        {% for personne in personnes %}
            <div class="card col-3 mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ personne.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ personne.firstname }}</h6>
                    <p class="card-text">{{ personne.age}} ans</p>
                    <p class="card-text">{{ personne.job.designation}} </p>
                    <a
                            href="{{ path('personne.detail', {id: personne.id}) }}"
                            target="_blank"
                            class="card-link">Détails</a>
                    <a
                            href="{{ path('personne.delete', {id: personne.id}) }}"
                            class="card-link">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
